@import "bootstrap/scss/bootstrap";

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.navbar {
    background-color: #8f9091;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitbtn {
    color: rgb(201, 198, 198);
    border-color: rgb(43, 42, 42);
    background-color: #515050;
}

#submitbtn:hover {
    color: rgb(43, 42, 42);
    border-color: rgb(43, 42, 42);
    background-color: #a7a3a3;
}

button:hover {
    background-color: #0056b3;
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.highlight {
    background-color: aquamarine;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}